body {

  background-color: #eeeeec;
  font-family: sans-serif;
  font-size: 0.9em;
  color: #2e3436;

}

#container
{
	min-width: 960px;
	max-width: 1400px;
}

table
{
	border-collapse: collapse;
}

th
{
	text-align: center;
}

td, th
{
	border: 1px solid #ccc;
  font-size: 0.8em;
	padding: 6px;
}

a {
	text-decoration: none;
	color: #ce5c00;
	background: none;
}
a:visited { color: #ce5c00; }
a:active { color: #ce5c00; }
a:hover { 
	color: #f57900;
	text-decoration: underline;
}

#main_left
{
	float: left;
	width: 40%;
}

#main_right
{
	float: left;
	width: 60%;
	text-align: center;
}

#msg {
	line-height: 3em;
}

#newtask 
{
  padding-top: 15px;
}

#hint {
	clear: both;
  text-align: center;
  color: #2e3436;
  font-size: 0.8em;
  padding-top: 50px;
	padding-bottom: 80px;
}

#project_name {
	text-align: center;
	clear: both;
	width: 30%;
	float: left;
  color: #204a87;
}

#footer {
	float: left;
	width: 70%;
  font-size: 0.7em;
  color: #2e3436;
  text-align: center;
  padding-top: 30px;
}

.hidden
{
	display: none;
}

.taskStatus
{
	width: 22px;
}

.taskLogRow {
  
  display: none;

} 

.taskClock {
  display: none;
}

.logDateTime {
  width: 150px;
}

.logTime {
  width: 75px;
}

.logActions {
  width: 50px;
}







