/* MAIN AND COMMON */

body 
{
  background-color: #eeeeec;
  font-family: sans-serif;
  font-size: 0.9em;
  color: #2e3436;
}

table
{
	border-collapse: collapse;
}

th
{
	text-align: center;
}

td, th
{
	border: 1px solid #ccc;
  font-size: 0.8em;
	padding: 6px;
}

a {
	text-decoration: none;
	color: #ce5c00;
	background: none;
}
a:visited { color: #ce5c00; }
a:active { color: #ce5c00; }
a:hover { 
	color: #f57900;
	text-decoration: underline;
}

tr.opened
{
  background-color: #ddddd2;
}

.hidden
{
	display: none;
}

#container
{
	min-width: 960px;
	max-width: 1400px;
}


/* HEADER AREA */

#project_name {
  text-align: left;
  color: #204a87;
}

#links_container {
  margin-top: 0.5em;
  margin-bottom: 0.5em;
}

/* MAIN LEFT (TASKLIST) */

#tasklist_container
{
	float: left;
	width: 40%;
}

#tasklist table
{
	width: 100%;
}

#tasklist
{
	max-height: 90%;
	overflow: auto;
}

#tasklist .clock {
  display: none;
}

#tasklist tr td.name
{
	position: relative;
}

#tasklist .links
{
	background-color: #eeeeec;
	position: absolute;
	bottom: 0;
	right: 0;
	padding: 3px;
}

#tasklist .buttons
{
	width: 44px;
}

#tasklist .status
{
	width: 22px;
}

#tasklist .time
{
	width: 55px;
	text-align: center;
}

#msg {
	line-height: 3em;
}

#newtask 
{
  padding-top: 15px;
}


/* MAIN RIGHT (WORKLOG) */

#worklog_container
{
	float: left;
	width: 57%;
	text-align: center;
	margin-left: 3%;
}

#worklog
{
	width: 100%;
}

#worklog .buttons
{
	width: 22px;
}

#worklog .start, #worklog .end
{
	width: 125px;
	text-align: center;
}

#worklog .time
{
	width: 55px;
	text-align: center;
}


/* FOOTER AREA */

#hint {
  clear: both;
  text-align: center;
  color: #2e3436;
  font-size: 0.8em;
  padding-top: 50px;
  padding-bottom: 80px;
}

#footer {
  font-size: 0.7em;
  color: #2e3436;
  text-align: center;
}

/* BILLING SUMMARY */

#billing
{
  width: 100%;
  border: 1;
  cellspacing: 0;
  cellpadding: 4;
  margin-bottom: 2em;
}

#invoices
{
  margin-bottom: 0.5em;
}

